body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

canvas {
  border: 1px solid black;
}

.file-nav-container {
  background-color: RGBA(226, 92, 34, 1);
  color: RGBA(251, 223, 171, 1);
}

.nav-contents {
  overflow: auto;
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

.nav-contents div {
  display:block;
  float: left;
  padding: 14px 5% 0;
  height: 30px;
  border-bottom: 5px solid RGBA(226, 92, 34, 1);
}

.nav-contents div:hover {
  cursor: pointer;
  border-bottom: 5px solid white;
  color: white;
}

.editor-main-container {
  overflow: auto;
  margin: 2% auto;
  width: 90%;
}

.editor-container {
  overflow: auto;
  float: left;
}

.editor {
  display: block;
  float: left;
}

.edit-area {
  background-color: RGB(225, 214, 184);
  overflow: auto;
  margin-left: 5px;
 }

 #e0, #e1, #e2, #e3 {
  float: left;
 }

 #e2 {
  clear: left;
 }

.tool-area {
  clear: left;
  display: block;
  overflow: auto;
}

.tool {
  display: block;
  float: left;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-right: 1px solid gray;
  margin-bottom: 12px;
}

.swatches div:last-child {
  border-right: 0;
}

.tool-selected {
  border-bottom: 2px solid green;
  position: relative;
}

.tool-selected:before {
  content: "";
  border-bottom: 1px solid yellow;
  position: absolute;
  bottom: 2px;
}

.pallete {
  clear: left;
}

.sw {
  clear: left;
  width: 25px;
  height: 25px;
  display:inline-block;
  border: 1px solid white;
}

.chr-banks {
  display: block;
  float: left;
  width: 60%;
  height: 324px;
  overflow: scroll;
  text-align: center;
  background-color: RGB(225, 214, 184);
  margin-right: 5px;
}

.chr-banks canvas {
  margin: 2px;
};

.drop-target {
  border: 1px solid green;
}

