@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

@font-face {
  font-family: 'Handy';
  src: url('handy.woff') format('woff');
}

h1 { 
  font-family: 'Handy', sans-serif;
  font-size: 72px;
  background-color: RGBA(226, 92, 34, 1);
  color: RGBA(251, 223, 171, 1);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
  padding-top: 48px;
}



body {
  background: #fafafa;
  font-family: "Press Start 2P", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}

canvas {
  border: 1px solid black;
}

.file-nav-container {
  overflow: auto;
  display: block;
  float: left;
}

.editor-main-container {
  overflow: auto;
  margin: 2% auto;
  width: 90%;
}

.editor-container {
  overflow: auto;
  float: left;
}

.editor {
  display: block;
  float: left;
}

.edit-area {
  background-color: RGB(225, 214, 184);
  overflow: auto;
  margin-left: 5px;
 }

 #e0, #e1, #e2, #e3 {
  float: left;
 }

 #e2 {
  clear: left;
 }

.tool-area {
  clear: left;
  display: block;
  overflow: auto;
  float: left;
}

.tool {
  cursor: pointer;
  display: block;
  float: left;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-right: 1px solid gray;
  margin-bottom: 12px;
  padding-top: 15px;
}

.swatches {
  overflow: auto;
  display: block;
  float: left;
}
.swatches div:last-child {
  border-right: 0;
}

.info-hover {
  float: left;
  padding-top: 15px;
  margin-left: 15px;
  color: RGBA(4, 23, 185, 1);
  position: relative;
}

.info-hover span {
  display: none;
}

.info-hover:hover span {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 100px;
  height: 50px;
  left: 25px;
  top: 5px;
  background-color: black;
  color: white;
}

.tool-selected {
  border-bottom: 2px solid green;
  position: relative;
}

.tool-selected:before {
  content: "";
  border-bottom: 1px solid yellow;
  position: absolute;
  bottom: 2px;
}

.pallete {
  clear: left;
  width: 40%;
  display: block;
}

.sw {
  clear: left;
  width: 25px;
  height: 25px;
  display:inline-block;
  border: 1px solid white;
}

.chr-banks {
  display: block;
  float: left;
  width: 60%;
  height: 324px;
  overflow: scroll;
  text-align: center;
  background-color: RGB(225, 214, 184);
  margin-right: 5px;
}

.chr-banks canvas {
  margin: 2px;
}

.drop-target {
  border: 1px solid green;
}


.welcome {
  overflow: auto;
 }

 .intro {
  margin: 0 5%;
 }

 .btn {
  cursor: pointer;
  display:inline-block;
  padding: 14px 5% 0;
  height: 30px;
  color: RGBA(251, 223, 171, 1);
  background-color: RGBA(226, 92, 34, 1);
  border-radius: 2px;
 }

.btn:hover {
  cursor: pointer;
  color: white;
}


