<div class="edit-area">
  <canvas id="e0"
    nixel-sprite sprite-index="el0" scale="20"
    height="160" width="160" editable="true"
    ng-click="select($event)" nixel-drop>
  </canvas>

  <canvas id="e1"
    nixel-sprite sprite-index="el1" scale="20"
    height="160" width="160" editable="true"
    ng-click="select($event)" nixel-drop>
  </canvas>

  <canvas id="e2"
    nixel-sprite sprite-index="el2" scale="20"
    height="160" width="160" editable="true"
    ng-click="select($event)" nixel-drop>
  </canvas>

  <canvas id="e3"
    nixel-sprite sprite-index="el3" scale="20"
    height="160" width="160" editable="true"
    ng-click="select($event)" nixel-drop>
  </canvas>
</div> <!--edit-area-->

