<div class="intro">
<h4>Welcome to Nixel</h4>

<div>
  <p>
    Have you ever wanted to remove Mario's mustache or give a goomba some eye brows?
    Maybe you wanted to draw your sigal on Link's shield?
  </p>
  <p>
    Nixel is an editor for NES sprites.
    It can read and modify sprite data from Nintendo ROM files.
    It can not be used to modify any pallete data.  
  </p>

  <p>
  Go ahead and load<sup>*</sup> a ROM.
  </p>
<hr />
</div>
<div>
  <div class="btn" data-ng-click="loadROM()">
    Load ROM
  </div>

  <input style="display:none" type="file" accept=".nes"
    id="romFile" name="romFile" />
</div>

<div class="footnote">
  <sup>*</sup>ROMs are not uploaded to the server, all work is done locally in the browser.
</div>
</div> <!-- intro -->
