<div class="swatches">
  <div class="tool tool-selected" data-swatch="s0" style="background-color: rgb(252, 252, 252);"
       data-ng-click="selectTool($event)">0</div>
  <div class="tool" data-swatch="s1" style="background-color: rgb(188, 188, 188);"
    data-ng-click="selectTool($event)">1</div>
  <div class="tool" data-swatch="s2" style="background-color: rgb(124, 124, 124);"
    data-ng-click="selectTool($event)">2</div>
  <div class="tool" data-swatch="s3" style="background-color: rgb(0, 0, 0);"
    data-ng-click="selectTool($event)">3</div>
</div>

<div class="info-hover">
  ?
  <span>
    Select a palette index and then a color from the swatch list below to set it.
    <br />
    <br />
    The NES allows sprites to have up to four colors per group of four sprites, these are refered to as palettes.  One of those colors, usually '0' is used as the transparent color.
  </span>
</div>

<div class="pallete">
  <div data-ng-repeat="swatch in pallete track by $index"
       class="sw" style="background-color: {{swatch}};"
       data-value="{{swatch}}"
       data-ng-click="selectSwatch($event, $index)">
  </div>
</div>
